.card1 {
  background-color: var(--light-blue);
  background-image: linear-gradient(
    62deg,
    var(--light-blue) 0%,
    var(--light-purple) 100%
  );
}

.meaning {
  /* Resets */
  margin-block-start: unset;
  margin-block-end: unset;

  font-family: "VT323", sans-serif;

  font-size: 40px;
}
